html{
	font-family: Arial, sans-serif;
	height: 100%;
	min-width: 1024px;
}

.wrapper {
	min-height: 100%;
	margin-bottom: -60px;
}

a {
	text-decoration: none;
	color: black;
	opacity: 0.75;
	margin-left: 15px;
	font-size: 13px;
}

a:hover {
	text-decoration: underline;
}

a.opaque {
	opacity: 1;
}

a#apps {
	opacity: 0.55;
}

#apps:hover {
	opacity: 1;
	color: black;
}

#notification img {
	height: 12px;
	width: 12px;
	padding: 4px;
	border-radius: 100%;
	background-color: rgba(0, 0, 0, 0.55);
}

#notification img:hover {
	background-color: rgba(0, 0, 0, 1);
}

ul li {
	display: inline;
}

header {
	height: 60px;
}

.nav-left {
	float: left;
	position: relative;
	margin-left: 15px;
}

.nav-right {
	float: right;
	position: relative;
	margin-right: 30px;
}

header .nav-left, header .nav-right {
	margin-top: 21px;
	height: 24px;
	line-height: 24px;
}

header .nav-right a img {
	vertical-align: middle;
	margin-top: -3px;
}

span.username {
	display: inline-block;
	height: 30px;
	width: 30px;
	border-radius: 100%;
	background: #1E88E5;
	opacity: 1;
	vertical-align: middle;
	margin-top: -3px;
}

span.username::before {
	content: "T";
	margin-left: 11px;
	position: relative;
	top: 4px;
	color: white;
}

#logo {
	margin-top: 50px;
}

#logo img {
	display: block;
	margin: 0 auto;
	width: 35%;
	min-width: 500px;
}

form {
	display: block;
	margin: 0 auto;
	width: 40%;
	min-width: 600px;
}

#search-bar-and-mic {
	width: 100%;
	height: 45px;
	margin: 15px 0px 30px;
	border-radius: 3px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

input[name="search-bar"] {
	width: 90%;
	height: 20px;
	margin: 12px 0 5px 10px;
	padding-left: 5px;
	border: none;
	font-size: 16px;
}

input[name="search-bar"]:focus {
	outline: 0;
}

#microphone {
	position: relative;
	top: 5px;
	right: 5px;
	width: 20px;
	height: 20px;
}

#form-buttons {
	width: 46.5%;
	display: block;
	margin: 0 auto;
}

#form-buttons input {
	background: #F2F2F2;
	border: 1px solid #F2F2F2;
	border-radius: 3px;
	padding: 10px 15px;
	font-weight: bold;
	font-size: 13px;
	color: #757575;
}

#form-buttons input:nth-of-type(2) {
	float: right;
}


#form-buttons input:hover {
	border: 1px solid rgb(209, 209, 209);
	color: black;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	min-width: 1024px;
	height: 40px;
	background: #F2F2F2;
	border-top: 1px solid #E4E4E4;
}

footer a {
	color: #666;
	opacity: 1;
	margin-left: 23px;
}

footer .nav-left, footer .nav-right {
	margin-top: 11px;
	margin-left: 8px;
}


